@import 'vars';
@import 'global';
@import 'fonts';


// start header

.header__top{
	background-color: #eef1f3;
}
.header__top-inner{
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__text{
	margin-left: auto;
	margin-right: 50px;
	background-color: $blue;
	width: 140px;
	text-align: center;
	padding: 4px;
	border-radius: 50px;
	a{
		color: #fff;
		font-size: 14px;
	}
}
.header__menu-inner{
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.menu{
	display: flex;
}
.menu__list{
	li{
		display: inline-block;
		& + li{
			margin-left: 30px;
		}
	}
	a{
		color: #333;
		text-transform: uppercase;
		font-weight: 500;
	}
}
.header__search-form{
	max-width: 360px;
	width: 100%;
	position: relative;
	input{
		display: block;
		width: 100%;
		border-radius: 50px;
		height: 45px;
		border: 1px solid #d9dfe5;
		color: #898f96;
		outline: none;
		padding-left: 22px;
		padding-right: 90px;
		font-weight: 400;
		&::placeholder{
			color: #898f96;
		}
	}
	button{
		position: absolute;
		right: 0;
		top: 0;
		cursor: pointer;
		width: 70px;
		height: 100%;
		border: none;
		border-radius: 50px;
		background-color: $blue;
	}
}

// end header

// start search

.search__inner{
	background: linear-gradient(-90deg, #0030de, #2e5afb);
	min-height: 630px;
}
.search__item{
	text-align: center;
	padding: 175px 0 135px;
	color: #f3f3f8;
	&-title{
		font-size: 60px;
		line-height: 70px;
		span{
			font-weight: 700;
		}
	}
	&-text{
		font-size: 20px;
		font-weight: 500;
		margin-top: 25px;
		margin-bottom: 65px;
	}
	&-btn{
		a{
			color: #fff;
			font-size: 16px;
			width: 190px;
			height: 55px;
			border: 1px solid #fff;
			border-radius: 50px;
			padding: 12px;
			transition: all .5s;
			&:hover{
				background-color: #fff;
				color: $blue;
			}
		}
	}
}
.search__btn-popular{
	margin-left: 30px;
}
.search-box{
	position: relative;
	min-height: 180px;
	margin-bottom: 155px;
}
.search__box-1{
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	background: linear-gradient(-90deg, #0030de, #2e5afb);
	height: 95px;
	z-index: 2;
}
.search__box-2{
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	height: 135px;
	width: 1080px;
	border-radius: 8px;
	background-color: rgba(255, 255, 255, .5);
	z-index: 3;
}
.search__box-3{
	position: absolute;
	left: 0;
	right: 0;
	top: 15px;
	margin: 0 auto;
	height: 135px;
	width: 1110px;
	border-radius: 8px;
	background-color: rgba(255, 255, 255, .5);
	z-index: 4;
}
.search__box-4{
	position: absolute;
	left: 0;
	right: 0;
	top: 30px;
	margin: 0 auto;
	height: 135px;
	width: 1140px;
	border-radius: 8px;
	background-color:#fff;
	box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
	z-index: 5;
}

// end search


.features{
	
}
.features__item{
	width: 360px;
}


// start footer

.footer__content{
	background-color: #262b30;
}
.footer__inner{
	padding: 115px 0;
	display: flex;
	justify-content: space-between;
}
.footer__logo{
	margin-bottom: 27px;
}
.footer__col-info{
	max-width: 265px;
	width: 100%;
	color: #ababab;
	a{
		color: #ababab;
	}
}
.footer__col-text{
	padding-bottom: 20px;
	line-height: 28px;
	color: #ababab;
}
.footer__info{
	line-height: 26px;
	margin-bottom: 10px;
	padding-left: 30px;
}
.footer__info-phone{
	position: relative;
	&::before{
		content: '';
		position: absolute;
		background-image: url(../images/icons/phone.png);
		width: 18px;
		height: 17px;
		left: 0;
		top: 4px;
	}
}
.footer__info-email{
	position: relative;
	&::before{
		content: '';
		position: absolute;
		background-image: url(../images/icons/e-mail.png);
		width: 17px;
		height: 11px;
		left: 0;
		top: 9px;
	}
}
.footer__info-map{
	position: relative;
	&::before{
		content: '';
		position: absolute;
		background-image: url(../images/icons/map.png);
		width: 10px;
		height: 17px;
		left: 0;
		top: 14px;
	}
}
.footer__col-menu{
	max-width: 152px;
	width: 100%;
}
.footer__col-title{
	font-size: 18px;
	margin-bottom: 38px;
	margin-top: 8px;
	color: #fff;
}
.footer__col-list{
	a{
		color: #ababab;
		line-height: 32px;
	}
}
.footer__col-newsletter{
	max-width: 360px;
	width: 100%;
}
.footer__search-form{
	max-width: 360px;
	width: 100%;
	position: relative;
	margin-top: 10px;
	margin-bottom: 48px;
	input{
		display: block;
		width: 100%;
		border-radius: 50px;
		border: none;
		height: 50px;
		color: #ababab;
		outline: none;
		padding-left: 22px;
		padding-right: 90px;
		font-weight: 400;
		&::placeholder{
			color: #ababab;
		}
	}
	button{
		position: absolute;
		right: 0;
		top: 0;
		cursor: pointer;
		width: 100px;
		height: 100%;
		border: none;
		border-radius: 50px;
		background-color: $blue;
		outline: none;
		color: #fff;
	}
}
.footer__social-link{
	li{
		display: inline-block;
	}
}
.link-facebook{
	background-color: #395799;
	width: 42px;
	height: 42px;
	border-radius: 50%;
}


.footer__copy{
	background-color: #192027;
}
.footer__copy-text{
	color: #999;
	text-align: center;
	padding: 40px 0;
	font-weight: 400;
	span{
		color: #fff;
	}
}

// end footer
